.spin-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.spin-view {
  border: 1px solid black;
  width: var(--box-width);
  height: var(--box-height);
  overflow: hidden;
  padding: 0;
  margin: 0;
}
.spin-list {
  padding: 0;
  margin: 0;
  position: relative;
  //width: var(--box-width);
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: var(--spin-flex-direction);
  flex-wrap: nowrap;
  /* bottom: 0; */
}
.spinning {
  transition: var(--spin-direction) var(--anim-time);
  transition-timing-function: cubic-bezier(0.2, -0.15, 0.15, 1.05);
}
.spin-item {
  width: var(--box-width);
  height: var(--box-height);
  position: relative;
  flex: 0 0 auto;
}
