.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card.active {
  background: rgba(255, 252, 127, 0.3);
}
header.active h4 {
  font-weight: 900;
}

.dark .icon-box {
  background: white;
  width: 100px;
}
